{{- $dir := .Get "dir" | default (.Get 0) | default "images" -}}
{{- $columns := .Get "columns" | default (.Get 1) | default "3" -}}
{{- $spanFirst := .Get "spanFirst" | default "false" -}}
{{- $galleryId := printf "gallery-%s" ($dir | replaceRE "[^a-zA-Z0-9]+" "-") -}}

<div class="gallery-wrapper-{{ $galleryId }}">
  <div class="gallery gallery-{{ $galleryId }}">
    {{- $images := slice -}}
    {{- range (readDir (printf "static/%s" $dir)) -}}
    {{- if and (not .IsDir) (in (slice ".jpg" ".jpeg" ".png" ".gif" ".webp") (path.Ext .Name | lower)) -}}
    {{- $images = $images | append . -}}
    {{- end -}}
    {{- end -}}

    {{- range $index, $image := $images -}}
    <div class="gallery-item{{ if and (eq $spanFirst "true") (eq $index 0) }} gallery-item-span{{ end }}">
      <img src="/{{ $dir }}/{{ $image.Name }}" alt="Gallery image {{ $index }}" loading="lazy">
    </div>
    {{- end -}}
  </div>
</div>

<style>
  .gallery-{{ $galleryId }} {
    display: grid;
    {{- if eq (int $columns) 1 }}
    grid-template-columns: 1fr;
    {{- else if eq (int $columns) 2 }}
    grid-template-columns: repeat(2, 1fr);
    {{- else if eq (int $columns) 3 }}
    grid-template-columns: repeat(3, 1fr);
    {{- else if eq (int $columns) 4 }}
    grid-template-columns: repeat(4, 1fr);
    {{- else }}
    grid-template-columns: repeat(3, 1fr);
    {{- end }}
    gap: 1rem;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .gallery-{{ $galleryId }} .gallery-item {
    text-align: right;
  }
  
  .gallery-{{ $galleryId }} .gallery-item img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 120vh;
    display: block;
    margin-left: auto;
  }
  
  /* Span first image across all columns */
  .gallery-{{ $galleryId }} .gallery-item-span {
    grid-column: 1 / -1;
  }
  
  /* Tablet: reduce to 2 columns if more than 2 */
  @media (max-width: 768px) {
    .gallery-{{ $galleryId }} {
      {{- if gt (int $columns) 2 }}
      grid-template-columns: repeat(2, 1fr);
      {{- else if eq (int $columns) 2 }}
      grid-template-columns: repeat(2, 1fr);
      {{- else }}
      grid-template-columns: 1fr;
      {{- end }}
    }
  }
  
  /* Mobile: single column */
  @media (max-width: 480px) {
    .gallery-{{ $galleryId }} {
      grid-template-columns: 1fr;
    }
  }
</style>